@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC &display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    margin: 0;
    /* width: 100%; */
    height: 2256px;
    overflow: scroll;
}


header {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 92.2px;
}

.logo {
    padding-left: 30px;
    cursor: pointer;
}

.nav_link {
    padding-right: 30px;
    list-style: none;
}

.nav_link li {
    display: inline-block;
    padding: 0 20px;
}


.nav_link li a {
    color: black;
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    text-decoration: none;
}

/* .container1 {

    height: 798px;
    background-image: url(主視覺/undraw_in_sync_re_jlqd.svg);
    background-repeat: no-repeat;
    background-position: right 0% bottom 0%;
}

.title {
    width: 50%;
}

.title h2 {
    padding-left: 215px;
    padding-top: 254px;
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 140%;
    color: #0D5060;
} */
.container {
    background-image: url("../主視覺/undraw_in_sync_re_jlqd.svg");
    background-repeat: no-repeat;
    background-position: right 0% bottom 0%;
}



.title h2 {
    padding-left: 100px;
    padding-top: 128px;
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 112.5%;
    color: #0D5060;
}

.title {
    width: 50%;
}

.main {
    background-color: #E5E5E5;
    height: 1450px;

}

.main_container {
    padding-left: 216px;
    padding-right: 216px;

}

.pointer {
    padding-top: 74px;
    width: 160px;
    height: 113px;
    line-height: 113px;
    display: flex;
    align-items: center;
}

.pointer a {
    width: 160px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #000000;
    white-space: nowrap;
    text-decoration: underline #C8E3EA;
}


.column {

    display: flex;
    flex-grow: 1;
    float: left;
    padding: 30px;

}

.row {
    display: flex;
    flex-direction: row;
}


.row:after {

    content: "";
    display: table;
    clear: both;
}

.card {
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
    position: relative;
}


.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
    height: 20%;
    z-index: 10;
}

.column>.card>.container-unhover {
    display: block;
    z-index: 0;
    padding: 2px 16px;
    height: 20%;
}

.column>.card>.container-hover {
    display: none;
}

.column:hover>.card>.container-unhover {
    display: none;
    z-index: 0;
}

.column:hover>.card>.container-hover {
    display: block;
    z-index: 10;
    position: absolute;
    background-color: rgba(255, 255, 255, 1);
    bottom: 0;
    padding: 2px 16px;

}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
}

img {
    border-radius: 5px 5px 0 0;
    z-index: 0;
}


.detail-container {
    margin-top: 56px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 317px;
    row-gap: 25px;
}

.one {
    background-color: #FFFFFF;
    border: none;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}

.one b {

    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: normal;
    color: black;
    font-size: 18px;
}

.one li {
    left: 234px;
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: rgba(0, 0, 0, 0.45);
}

.two {
    background-color: #FFFFFF;
    border: none;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.08);
    border-radius: 4px;

}

.two b {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: normal;
    color: black;
    font-size: 18px;
}

.two li {
    left: 234px;
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: rgba(0, 0, 0, 0.45);
}

.footer_container {

    height: 236px;
}

footer {
    margin-left: 180px;
    margin-right: 180px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
}


.logo2 {
    margin-top: 57px;
    cursor: pointer;
    padding-right: 24px;
}


.left-footer {
    margin-top: 35px;
    height: 101px;

}



.left-footer p {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    display: flex;
    align-items: center;
}

.right_footer {

    margin-top: 48px;
    margin-left: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#titles {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    display: flex;
}

#sector {
    display: grid;
    grid-template-rows: 1.5fr 1fr 1fr 1fr;
    padding-right: 120px;

}


#content {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-decoration: none;
    color: black;
}