@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background-color: #E5E5E5;
    margin: 0;
    width: 100%;
    height: 100%;
}

header {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 92.2px;
}

.logo {
    padding-left: 30px;
    cursor: pointer;
}

.nav_link {
    padding-right: 30px;
    list-style: none;
}

.nav_link li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_link li a {
    color: black;
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    text-decoration: none;
}

.tab {

    padding-top: 24px;
    padding-left: 182px;
}


.tab a {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.45);
    box-sizing: border-box;
    border-radius: 100px;
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.65);
    padding: 8px 16px;
}

.content {
    margin-left: 182px;
    margin-right: 182px;
    margin-top: 59px;
    background: #FFFFFF;
    border-radius: 8px;

}

#cat {
    padding-top: 72px;
    padding-left: 72px;
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.45);
}

#Title {
    padding-top: 4px;
    padding-left: 72px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: #47A2B8;
}

.job {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.pic {
    /* background-image: url("../14個職位卡片/介面設計師.svg"); */
    background-repeat: no-repeat;
    background-size: cover;
}


.description h4 {
    margin-left: 2px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 112px;
    display: flex;
    align-items: center;
    color: #000000;

}

.description h5 {
    margin-left: 2px;
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.85);
    align-self: stretch;
    flex-grow: 0;
    margin: 24px 0px;

}

.soft_power {
    text-align: center;
    height: 64px;
    border: none;
    background: #FFFFFF;
    border-bottom: 3px solid #47A2B8;
}

.soft_power a {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #000000;
    text-decoration: none;
}

.hard_skills {

    text-align: center;
    height: 64px;
    border: none;
    background: #FFFFFF;
    border-bottom: 3px solid #47A2B8;
}

.hard_skills a {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #000000;
    text-decoration: none;
}

.details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 24px;
    grid-column-gap: 30.98px;
    flex-direction: column;
    align-items: flex-start;

    background: #FFFFFF;
}

.soft1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #FFFFFF;
    box-shadow: 0px 4px 89px rgba(0, 0, 0, 0.04);
    border-radius: 4px
}

.soft1 a {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 112.5%;
    align-items: center;
    color: #000000;
}


.soft1 ul li {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: rgba(0, 0, 0, 0.45);

}

.hard1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #FFFFFF;
    box-shadow: 0px 4px 89px rgba(0, 0, 0, 0.04);
    border-radius: 4px
}

.hard1 a {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 112.5%;
    align-items: center;
    color: #000000;
}


.hard1 ul li {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: rgba(0, 0, 0, 0.45);

}

.soft2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #FFFFFF;
    box-shadow: 0px 4px 89px rgba(0, 0, 0, 0.04);
    border-radius: 4px
}

.soft2 a {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 112.5%;
    align-items: center;
    color: #000000;
}


.soft2 ul li {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: rgba(0, 0, 0, 0.45);

}

.hard2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #FFFFFF;
    box-shadow: 0px 4px 89px rgba(0, 0, 0, 0.04);
    border-radius: 4px
}

.hard2 a {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 112.5%;
    align-items: center;
    color: #000000;
}


.hard2 ul li {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: rgba(0, 0, 0, 0.45);

}



.soft3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #FFFFFF;
    box-shadow: 0px 4px 89px rgba(0, 0, 0, 0.04);
    border-radius: 4px
}

.soft3 a {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 112.5%;
    align-items: center;
    color: #000000;
}


.soft3 ul li {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: rgba(0, 0, 0, 0.45);

}

.hard3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #FFFFFF;
    box-shadow: 0px 4px 89px rgba(0, 0, 0, 0.04);
    border-radius: 4px
}

.hard3 a {
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 112.5%;
    align-items: center;
    color: #000000;
}


.hard3 ul li {
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: rgba(0, 0, 0, 0.45);

}



.soft4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #FFFFFF;
    box-shadow: 0px 4px 89px rgba(0, 0, 0, 0.04);
    border-radius: 4px
}

.soft4 a {
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 112.5%;
    align-items: center;
    color: #000000;
}


.soft4 ul li {
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: rgba(0, 0, 0, 0.45);

}

.hard4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #FFFFFF;
    box-shadow: 0px 4px 89px rgba(0, 0, 0, 0.04);
    border-radius: 4px
}

.hard4 a {
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 112.5%;
    align-items: center;
    color: #000000;
}


.hard4 ul li {
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: rgba(0, 0, 0, 0.45);

}

.soft5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #FFFFFF;
    box-shadow: 0px 4px 89px rgba(0, 0, 0, 0.04);
    border-radius: 4px
}

.soft5 a {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 112.5%;
    align-items: center;
    color: #000000;
}


.soft5 ul li {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: rgba(0, 0, 0, 0.45);

}

.hard5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #FFFFFF;
    box-shadow: 0px 4px 89px rgba(0, 0, 0, 0.04);
    border-radius: 4px
}

.hard5 a {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 112.5%;
    align-items: center;
    color: #000000;
}


.hard5 ul li {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: rgba(0, 0, 0, 0.45);

}

.soft6 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #FFFFFF;
    box-shadow: 0px 4px 89px rgba(0, 0, 0, 0.04);
    border-radius: 4px
}

.soft6 a {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 112.5%;
    align-items: center;
    color: #000000;
}


.soft6 ul li {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: rgba(0, 0, 0, 0.45);

}

.hard6 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #FFFFFF;
    box-shadow: 0px 4px 89px rgba(0, 0, 0, 0.04);
    border-radius: 4px
}

.hard6 a {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 112.5%;
    align-items: center;
    color: #000000;
}


.hard6 ul li {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: rgba(0, 0, 0, 0.45);

}

.soft7 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #FFFFFF;
    box-shadow: 0px 4px 89px rgba(0, 0, 0, 0.04);
    border-radius: 4px
}

.soft7 a {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 112.5%;
    align-items: center;
    color: #000000;
}


.soft7 ul li {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: rgba(0, 0, 0, 0.45);

}

.hard7 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #FFFFFF;
    box-shadow: 0px 4px 89px rgba(0, 0, 0, 0.04);
    border-radius: 4px
}

.hard7 a {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 112.5%;
    align-items: center;
    color: #000000;
}


.hard7 ul li {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: rgba(0, 0, 0, 0.45);

}