@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    margin: 0;
    /* width: 100%; */
    /* height: 100%; */
    height: 1959px;
    overflow: scroll;
}



header {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 92.2px;
}

.logo {
    padding-left: 30px;

    cursor: pointer;
}

.nav_link {
    padding-right: 30px;
    list-style: none;
}

.nav_link li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_link li a {
    color: black;
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    text-decoration: none;
}


.container {
    height: 438px;
    background-image: url("../主視覺/undraw_in_sync_re_jlqd.svg");
    background-repeat: no-repeat;
    background-position: right 0% bottom 0%;
}



.title h2 {
    padding-left: 179px;
    padding-top: 128px;
    font-family: "Noto Sans TC";
    font-style: normal;
    font-size: 64px;
    line-height: 112.5%;
}

.title {
    width: 50%;
}

.content {
    margin-top: 103px;
    background-color: #E5E5E5;
    padding-left: 179px;
    padding-right: 179px;
}



.button {
    padding-top: 103px;
    padding-bottom: 48px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 59px;
    align-items: center;
}

.soft-power {
    text-align: center;
    height: 64px;
    border: none;
    background: rgba(200, 227, 234, 0.45);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-bottom: 3px solid #47A2B8;
}

.soft-power a {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #000000;
    text-decoration: none;
}

.hard-skills {
    text-align: center;
    height: 64px;
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-bottom: 3px solid #47A2B8;

}

.hard-skills a {

    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #000000;
    text-decoration: none;
}



.detail-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 48px;
    padding-bottom: 407px;
}

.one {
    border: none;
    background-color: white;
    height: 146px;
}

.one b {

    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: normal;
    color: black;
    font-size: 18px;
}

.one li {
    left: 234px;
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: rgba(0, 0, 0, 0.45);
}

.two {
    border: none;
    background-color: white;
    height: 146px;

}

.two b {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: normal;
    color: black;
    font-size: 18px;
}

.two li {
    left: 234px;
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: rgba(0, 0, 0, 0.45);
}

.three {
    border: none;
    background-color: white;
    height: 212px;
}

.three b {

    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: normal;
    color: black;
    font-size: 18px;
}

.three li {
    left: 234px;
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: rgba(0, 0, 0, 0.45);
}


.footer_container {

    height: 236px;
}

footer {
    margin-left: 180px;
    margin-right: 180px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
}


.logo2 {
    margin-top: 57px;
    cursor: pointer;
    padding-right: 24px;
}


.left-footer {
    margin-top: 35px;
    height: 101px;
    min-width: 200px;

}



.left-footer p {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    display: flex;
    align-items: center;
}

.right_footer {

    margin-top: 48px;
    margin-left: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

#titles {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    min-width: 80px;
}

#sector {
    display: grid;
    grid-template-rows: 1.5fr 1fr 1fr 1fr;
    padding-right: 70px;

}


#content {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-decoration: none;
    color: black;
}